.content{
        font-family: 'Century Gothic', sans-serif;
        margin-top: 3%;
      }
.content a{
        text-decoration: none;
        color: #19bd9b;
          }

.main-form{
    width: 450px;
    height: 100%;
    border: 2px solid #cccccc;
    padding: 20px;
    line-height: 1px;
    margin: auto;
    margin-top: 3%;
    font-family: 'Century Gothic', sans-serif;
    }
    #br {
        width: 100%;
        height: 50px;
        margin-top: -20px;
        margin-left: -20px;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom:20px;
        padding-right: 20px;
        background-color: #bcc3cb;
    }
    #title{
        width: 100%;
        height: 20px;
        border-radius: 5px 5px 5px 5px;
    }

    #ta{
        width: 100%;
        border-radius: 5px 5px 5px 5px;
    }
    .os select{
        border: 1px solid #19bd9b;
        border-radius: 5px 5px 5px 5px;
        width: 100%;
        height: 30px;
        padding: 3px;
        color: #ffff;
        background-color: #19bd9b;
    }
    #product{
        width: 100%;
        height: 20px;
    }
    .product select{
        border: 1px solid #19bd9b;
        border-radius: 5px 5px 5px 5px;
        width: 100%;
        height: 30px;
        padding: 3px;
        color: #ffff;
        background-color: #19bd9b;
    }
    #vtf{
        width: 20%;
        height: 20px;
        border-radius: 5px 5px 5px 5px;
    }
    .sev select{
        border: 1px solid #19bd9b;
        border-radius: 5px 5px 5px 5px;
        width: 100%;
        height: 30px;
        padding: 3px;
        color: #ffff;
        background-color: #19bd9b;
    }
    #attach{
        width: 70%;
        height: 20px;
        border-radius: 5px 0px 0px 5px
    }
    #ch{
        width: 28%;
        height: 25px;
        border: 1px solid #bcc3cb;
        border-radius: 0px 5px 5px 0px;
        background-color: #bcc3cb;
        color: #ffff;
        margin-left: -4px;
    }
    #cf{
        width: 100%;
        height: 20px;
    }
    .att{
        margin-bottom: 15px;
    }
    .submit{
        width: 100%;
        height: 50px;
        margin-bottom: -20px;
        margin-left: -20px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #eeeff1;
    }
    #snd{
        margin: 5px 370px;
        width: 15%;
        height: 60%;
        border: 1px solid #19bd9b;
        border-radius: 5px 5px 5px 5px;
        background-color: #19bd9b;
        color: #ffff;
    }
-->
